/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
  }
  .home-grid,
  nav ul {
    display: block;
  }

  header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 5fr));
    width: 960px;
    background-color: blueviolet;
  }
}
html {
  background-color: #ede7d9;
}