/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
  }
  .home-grid,
  nav ul {
    display: block;
  }

  header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 5fr));
    width: 960px;
    background-color: blueviolet;
  }
  h1 {
    font-family: LibreBaskerville, serif;
    font-size: 30px;
  }

  img {
    max-width: 100%;
  }
}
html {
  background-color: #ede7d9;
}

.logo-box{
  grid-column: 1/ 2;
  grid-row: 1/3;
  padding: 10px;
  margin: 20px 20px 20px 20px;
}

.header{
  grid-column: 3/ 5;
  grid-row: 1/3;
  padding: 10px;
  margin: 20px 20px 20px 20px; 
}