@media only screen and (min-width: 32.5em){


h1{
    font-size: 2px;
    max-width: fit-content;
}

header{
    max-width: min-content;
}


img{
    max-width: max-content;
    float: right;
}







}